<!DOCTYPE html>
<html>
<head>
    <title>MQTT Data</title>
    <script type="text/javascript" src="{{ url_for('static', filename= 'no_refresh.js') }}"></script>
</head>
<body>
    <table id="myTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Timestamp</th>
                <th>Sensor Data</th>
                <th>Sensor Type</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
