{% extends 'base.html' %}
{% block head %}
  {% block title %}Temperature Chart {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.min.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">


  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}
{% block content %}
  <canvas id="chart"></canvas>
  <script>
    var ctx = document.getElementById('chart').getContext('2d');

    // Initialize an empty chart
    var chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [1],
        datasets: [{
          label: 'Temperature',
          data: [20],
          borderColor: 'blue',
          borderWidth: 2
        }]
      },
      options: {
        responsive: true,
        scales: {
          x: {
            display: true
          },
          y: {
            display: true
          }
        }
      }
    });

    var socket = io.connect();
    socket.on('connect', function() {
      console.log('Connected to server');
    });

    socket.on('chart_data', function(data) {
      var temperatureData = data.temperature_data;

      // Update the labels and data in the chart
      // chart.data.labels = Array.from({ length: temperatureData.length }, (_, i) => i);
      chart.data.labels = temperatureData.map(function(_, index) {
        return index + 1;
      });
      chart.data.datasets[0].data = temperatureData;

      // Update the chart
      chart.update();
    });

    socket.on('new_temperature', function(data) {
      var temperature = data.temperature;
      var timestamp = data.timestamp;

      // Add a new data point to the chart
      chart.data.labels.push(chart.data.labels.length);
      chart.data.datasets[0].data.push(temperature);

      // Update the chart
      chart.update();
    });
  </script>


   <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
{% endblock %}